<!--applies base.html template-->
{% extends 'base.html' %}
<!--makes reusable HTML pieces-->
{% block title %} 
    About - {{ block.super }}
{% endblock title %}

<!--makes reusable HTML pieces-->
{% block content %}
    <h1><center>About Page</center></h1>
    <p><center>
        In 1904, Frank Mitchell and Charles Ness set the future of authentic in motion when they met up in 
        Philadelphia to establish Mitchell & Ness Sporting Goods. At first, they specialized in stringing tennis racquets, 
        constructing custom-made golf clubs and making uniforms for local Philly baseball and football teams. <br>
        <br>
        Today, Mitchell & Ness Nostalgia Co. offers authentic vintage jerseys and apparel collections for the MLB, NFL, NBA, 
        NCAA and MLS.
    </center></p>
{% endblock content %}