{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            My Jersey Web App Project
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block header %}{% endblock header %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
        <img src="{% static "image/jerseys.jpg" %}" height=400 width=600/>
        <h1>My Jersey Web App</h1>
    </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>