<!--applies base.html template-->
{% extends 'base.html' %} 
<!--loads directory-->
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

<!--makes reusable HTML pieces-->
{% block content %} 
    <!--loop that'll iterate over all the objects in the jerseys variable, displaying the name for each Jersey-->
    {% for jersey in jerseys %} 
        <h2><a href="{% url 'jersey_detail' slug=jersey.slug %}">
            {{ jersey.name }}
        <a/></h2>
        <!--prints out the variable of description-->
        <p>{{ jersey.description }}</p> 
    {% endfor %}
{% endblock content %}
